<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.themeleaf.dao.SenseTaskInfoMapper" >
<!--  <resultMap id="BaseResultMap" type="com.example.themeleaf.entity.SenseTaskInfo" >-->
<!--    <id column="tid" property="tid" jdbcType="VARCHAR" />-->
<!--    <result column="task_name" property="task_name" jdbcType="VARCHAR" />-->
<!--    <result column="task_from" property="task_from" jdbcType="VARCHAR" />-->
<!--    <result column="people_limit" property="people_limit" jdbcType="INTEGER" />-->
<!--    <result column="task_type" property="task_type" jdbcType="CHAR" />-->
<!--    <result column="task_area" property="task_area" jdbcType="VARCHAR" />-->
<!--    <result column="task_date" property="task_date" jdbcType="VARCHAR" />-->
<!--    <result column="task_startTime" property="task_startTime" jdbcType="VARCHAR" />-->
<!--    <result column="task_endTime" property="task_endTime" jdbcType="VARCHAR" />-->
<!--    <result column="task_price" property="task_price" jdbcType="INTEGER" />-->
<!--    <result column="task_status" property="task_status" jdbcType="CHAR" />-->
<!--    <result column="task_desc" property="task_desc" jdbcType="VARCHAR" />-->
<!--  </resultMap>-->
  <resultMap id="BaseResultMap" type="com.example.themeleaf.entity.SenseTaskInfo" >
    <id column="tid" property="tid" jdbcType="VARCHAR" />
    <result column="task_name" property="task_name" jdbcType="VARCHAR" />
    <result column="task_from" property="task_from" jdbcType="VARCHAR" />
    <result column="people_limit" property="people_limit" jdbcType="INTEGER" />
    <result column="task_type" property="task_type" jdbcType="CHAR" />
    <result column="task_area" property="task_area" jdbcType="VARCHAR" />
    <result column="task_date" property="task_date" jdbcType="VARCHAR" />
    <result column="task_startTime" property="task_startTime" jdbcType="VARCHAR" />
    <result column="task_endTime" property="task_endTime" jdbcType="VARCHAR" />
    <result column="task_price" property="task_price" jdbcType="INTEGER" />
    <result column="task_status" property="task_status" jdbcType="CHAR" />
    <result column="task_desc" property="task_desc" jdbcType="VARCHAR" />
    <result column="task_nowpartin" property="task_nowpartin" jdbcType="INTEGER" />
    <collection property="taskPartList" ofType="com.example.themeleaf.entity.TaskPart">
      <result property="task_id" column="task_id" jdbcType="VARCHAR"/>
      <result property="task_userid" column="task_userid" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sense_task_info
    where tid = #{tid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.themeleaf.entity.SenseTaskInfo" >
    insert into sense_task_info (tid, task_name, task_from,
      people_limit, task_type, task_area,
      task_date, task_startTime, task_endTime,
      task_price, task_status, task_desc, task_nowpartin
      )
    values (#{tid,jdbcType=VARCHAR}, #{task_name,jdbcType=VARCHAR}, #{task_from,jdbcType=VARCHAR},
      #{people_limit,jdbcType=INTEGER}, #{task_type,jdbcType=CHAR}, #{task_area,jdbcType=VARCHAR},
      #{task_date,jdbcType=VARCHAR}, #{task_startTime,jdbcType=VARCHAR}, #{task_endTime,jdbcType=VARCHAR},
      #{task_price,jdbcType=INTEGER}, #{task_status,jdbcType=CHAR}, #{task_desc,jdbcType=VARCHAR}, #{task_nowpartin,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.themeleaf.entity.SenseTaskInfo" >
    update sense_task_info
    set task_name = #{task_name,jdbcType=VARCHAR},
      task_from = #{task_from,jdbcType=VARCHAR},
      people_limit = #{people_limit,jdbcType=INTEGER},
      task_type = #{task_type,jdbcType=CHAR},
      task_area = #{task_area,jdbcType=VARCHAR},
      task_date = #{task_date,jdbcType=VARCHAR},
      task_startTime = #{task_startTime,jdbcType=VARCHAR},
      task_endTime = #{task_endTime,jdbcType=VARCHAR},
      task_price = #{task_price,jdbcType=INTEGER},
      task_status = #{task_status,jdbcType=CHAR},
      task_desc = #{task_desc,jdbcType=VARCHAR}
      task_nowpartin = #{task_nowpartin,jdbcType=INTEGER}
    where tid = #{tid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select tid, task_name, task_from, people_limit, task_type, task_area, task_date,
    task_startTime, task_endTime, task_price, task_status, task_desc, task_nowpartin
    from sense_task_info
    where tid = #{tid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select s.tid, s.task_name, s.task_from, s.people_limit, s.task_type, s.task_area, s.task_date,
    s.task_startTime, s.task_endTime, s.task_price, s.task_status, s.task_desc, s.task_nowpartin, t.task_id, t.task_userid
    from sense_task_info s left join task_part t on s.tid = t.task_id
  </select>
  <select id="count" resultType="java.lang.Integer">
    SELECT count(*) from sense_task_info
  </select>
  <select id="getInfoList" resultMap="BaseResultMap">
    select s.tid, s.task_name, s.task_from, s.people_limit, s.task_type, s.task_area, s.task_date,
    s.task_startTime, s.task_endTime, s.task_price, s.task_status, s.task_desc, s.task_nowpartin, t.task_id, t.task_userid
    from (select tid, task_name, task_from, people_limit, task_type, task_area, task_date,
    task_startTime, task_endTime, task_price, task_status, task_desc, task_nowpartin from sense_task_info LIMIT #{before},#{after}) s left join task_part t on s.tid = t.task_id
  </select>

  <update id="updateTaskStatus" parameterType="com.example.themeleaf.entity.SenseTaskInfo">
    update sense_task_info set task_status=#{task_status} where tid=#{tid}
  </update>

  <update id="updateTaskNowPartIn" parameterType="com.example.themeleaf.entity.SenseTaskInfo">
    update sense_task_info set task_nowpartin=#{task_nowpartin} where tid=#{tid}
  </update>

</mapper>
