<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.themeleaf.dao.TaskPubInfoMapper" >
    <resultMap id="BaseResultMap" type="com.example.themeleaf.entity.TaskPubInfoMapper" >
        <id column="username" property="username" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="cardid" property="cardid" jdbcType="VARCHAR" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from taskpub_info
    where username = #{username,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.example.themeleaf.entity.Userinfo" >
    insert into taskpub_info (username, email,`password`, salt,
       phone, `name`, cardid)
    values (#{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{salt,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{cardid,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.themeleaf.entity.Userinfo" >
    update taskpub_info
    set email = #{email,jdbcType=VARCHAR},
     `password` = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      cardid = #{cardid,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select username, email, `password`, salt, phone, `name`, cardid
    from taskpub_info
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select username, email, `password`, salt, phone, `name`, cardid
    from taskpub_info
  </select>
  <select id="count" resultType="java.lang.Integer">
        SELECT count(*) from taskpub_info
   </select>
  <select id="getInfoList" resultMap="BaseResultMap">
			 	SELECT * FROM taskpub_info  LIMIT #{before},#{after}
  </select>
    <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select username, email, `password`, salt, phone, `name`, cardid
    from taskpub_info
    where email = #{email,jdbcType=VARCHAR}
  </select>

    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select username, email,`password`, salt, phone, `name`, cardid
    from taskpub_info
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <update id="updateByEmail" parameterType="com.example.themeleaf.entity.Userinfo">
    update taskpub_info
    set `password` = #{password,jdbcType=VARCHAR},
    salt = #{salt,jdbcType=VARCHAR}
    where email = #{email,jdbcType=VARCHAR}
  </update>
  <update id="updateByUsername" parameterType="com.example.themeleaf.entity.Userinfo">
    update taskpub_info
    set `password` = #{password,jdbcType=VARCHAR},
    salt = #{salt,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>